/*general*/
* {
  font-family: Montserrat;
  margin: 0px;
  padding: 0px; }

#topmargin-lg {
  margin-top: 80px; }

#topmargin-sm {
  margin-top: 30px; }

#topmargin-xs {
  margin-top: 15px; }

/*60 para arriba y para abajo y 0 para los costados*/
section {
  padding: 80px 0; }

a:hover {
  text-decoration: none; }

#tituloPaginas {
  color: #707B7C;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 130px;
  margin-bottom: 40px;
  text-align: center; }

#tituloPaginas::after {
  display: block;
  content: '';
  position: relative;
  width: 120px;
  height: 1px;
  background-color: #43afec;
  margin: 15px auto 20px; }

/*header*/
.navbar {
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px; }

.nav-link {
  color: white; }

.nav-link:hover {
  color: #808B96; }

.logo-brand {
  min-width: 80px;
  max-width: 120px; }

.navbar-toggler {
  color: white;
  font-size: 40px; }

.navbar-toggler:focus {
  outline: none; }

/*index*/
#hero {
  background-image: url(../imagenes/papel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: black; }

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center; }

#logo1 {
  width: 400px;
  animation: slideInUp;
  animation-duration: 1s;
  color: #0000CC; }

#parrafo1 {
  font-size: 22px;
  line-height: 1.4;
  animation: slideInUp;
  animation-duration: 1s;
  margin-bottom: 0;
  padding-top: 20px; }

.titulo2 {
  font-size: 36px;
  color: #707B7C;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px; }

.titulo2::after {
  display: block;
  content: '';
  position: relative;
  width: 120px;
  height: 1px;
  background-color: #43afec;
  margin: 15px auto 20px; }

#servicios h3 {
  font-size: 20px;
  margin-top: 8px; }

#boton {
  margin-top: 50px; }

#productos {
  background-color: #F2F3F4; }

.productos-container {
  position: relative;
  margin: 15px 0; }

.productos-container:hover .overlay {
  display: block; }

.overlay {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); }
  .overlay div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
    .overlay div h4 {
      color: #fff; }

#demo {
  text-align: center; }

.col-md-3 {
  display: inline-block;
  margin-left: -4px; }

body .carousel-indicators li {
  background-color: black; }

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: black; }

body .no-padding {
  padding-left: 0;
  padding-right: 0; }

@media (max-width: 575.98px) {
  #logo1 {
    width: 200px; }
  #parrafo1 {
    font-size: 20px; }
  .titulo2 {
    font-size: 26px; } }

/*footer*/
#footer1 {
  background-color: black;
  width: 100%;
  height: 350px; }

#footer1 section {
  display: grid;
  width: 100%;
  height: 350px;
  grid-template-columns: 300px 300px 200px;
  grid-template-rows: 100px;
  grid-column-gap: 200px;
  grid-row-gap: 150px;
  justify-content: center;
  align-content: center;
  grid-template-areas: "map direc red" "p p p"; }

#map {
  grid-area: map; }

#direc {
  width: 400px;
  color: white;
  grid-area: direc; }

#red {
  color: white;
  grid-area: red; }

#footer1 h4 {
  padding-bottom: 10px; }

#footer1 li {
  padding-top: 10px;
  list-style-type: none; }

#footer1 #red li {
  display: inline-block;
  padding-right: 20px; }

#red i {
  color: white; }

#footer1 p {
  grid-area: p;
  padding-top: 20px;
  color: white;
  justify-self: center;
  font-size: 12px;
  font-weight: 700; }

@media only screen and (max-width: 576px) {
  #footer1 {
    background-color: black;
    width: 100%;
    height: 80px; }
  #footer1 section {
    display: inline-block;
    width: 100%;
    height: 40px; }
  #map {
    display: none; }
  #direc {
    display: none; }
  #red {
    display: none; }
  #footer1 p {
    width: 95%;
    text-align: center; } }

/*empresa*/
#empresa {
  background-image: url(../imagenes/empresa.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }

#empresa #presentacion {
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
  font-weight: 500; }

#empresa #presentacion2 {
  padding-left: 350px;
  padding-right: 350px;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: 400; }

#objetivos {
  padding-top: 40px;
  padding-bottom: 40px; }

#objetivos #buscamos {
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px; }

#objetivos .nos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px; }

#objetivos .nos article {
  padding-top: 30px;
  width: 300px; }

#objetivos h4 {
  padding-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

#objetivos p {
  color: #616A6B;
  font-weight: 300; }

/*servicios*/
.serviciosP {
  background-color: #F8F9F9;
  height: 950px; }

.serviciosP__texto {
  width: 300px;
  padding-top: 10px;
  line-height: 1.6;
  color: #616A6B;
  font-weight: 300;
  padding-bottom: 60px; }

.serviciosP__articulo {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center; }

.serviciosP__titulo {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 700; }

.serviciosP__imagen {
  height: 300px; }

/*productos*/
#productosP {
  background-color: #F8F9F9;
  padding-bottom: 80px; }

#productosP #imagenes {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center; }

#productosP article {
  height: 300px;
  width: 300px;
  position: relative; }

#productosP img {
  height: 300px;
  width: 300px; }

#productosP img:hover {
  filter: opacity(0.5); }

#productosP article:hover .overlay {
  display: block; }

#productosP article .overlay {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); }
  #productosP article .overlay div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
    #productosP article .overlay div h4 {
      color: #fff; }

/*contacto*/
#contacto {
  background-image: url(../imagenes/contactos.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }

#contacto label {
  color: #515A5A; }

#contacto #boton {
  margin-top: 30px;
  margin-bottom: 50px; }

#contacto h3 {
  margin-bottom: 20px;
  font-size: 22px; }

#contacto #datos li {
  list-style: none;
  color: #515A5A; }

.redespag li {
  display: inline-block;
  padding-right: 20px;
  padding-top: 5px; }

.redespag i {
  color: #515A5A; }

/*presupuesto*/
#presupuesto {
  background-image: url(../imagenes/presup.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }

#presupuesto label {
  color: #515A5A; }

#presupuesto article p {
  color: #515A5A; }

#presupuesto h3 {
  margin-bottom: 20px;
  font-size: 22px; }

#presupuesto #boton2 {
  margin-top: 30px;
  margin-bottom: 50px; }

#presupuesto #texto {
  padding-top: 40px; }

#presupuesto #cajacolores {
  display: grid;
  grid-template-columns: 60px 10px 60px;
  grid-column-gap: 10px;
  grid-template-areas: "color1 sobre color2"; }

#presupuesto .color1 {
  grid-area: color1; }

#presupuesto .color2 {
  grid-area: color2; }

#presupuesto .sobre {
  grid-area: sobre;
  font-size: 25px;
  align-self: stretch;
  justify-self: stretch; }
