/*empresa*/
#pag-empresa{
	padding-top: 150px;
}

#parrafo-emp{
	font-size: 16px;
	line-height: 1.4;
 	margin-bottom: 0;
 	padding: 10px 0;
}

.alinear{
	align-items: center;
}

.subtitulo{
	padding-top: 60px;
	font-size: 26px;
	font-weight: 400;
	color: #43afec;
}