/*general*/
*{
	font-family: Montserrat;
	margin: 0px;
	padding: 0px;
}

.titulo2{
	text-align: center;
	font-size: 36px;
	color: #707B7C;
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 30px;
	margin-top: 20px;
}

.titulo2::after{
	display: block;
	content:'';
	position: relative;
	width: 120px;
	height: 1px;
	background-color: #43afec;
	margin: 15px auto 20px;
}

#tituloPaginas{
	color: #707B7C;
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 130px;
	margin-bottom: 40px;
	text-align: center;
}

#tituloPaginas::after{
	display: block;
	content:'';
	position: relative;
	width: 120px;
	height: 1px;
	background-color: #43afec;
	margin: 15px auto 20px;
}