/*index*/
#hero{
	background-image: url(../imagenes/papel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: black;
}

.content-center{
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}

#logo1{
	width: 400px;
	animation: slideInUp;
 	animation-duration: 1s;
 	color: #0000CC;
}

#parrafo1{
	font-size: 22px;
	line-height: 1.4;
	animation: slideInUp;
 	animation-duration: 1s;
 	margin-bottom: 0;
 	padding-top: 20px;
}


.titulo2{
	font-size: 36px;
	color: #707B7C;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.titulo2::after{
	display: block;
	content:'';
	position: relative;
	width: 120px;
	height: 1px;
	background-color: #43afec;
	margin: 15px auto 20px;
}


#servicios h3{
	font-size: 20px;
	margin-top: 8px;
}

#boton{
	margin-top: 50px;
}

#productos{
	background-color: #F2F3F4;
}

.productos-container{
	position: relative;
	margin: 15px 0;
}

.productos-container:hover .overlay {
	display: block;
}

.overlay {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);

	div {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		h4 {
			color: #fff;
		}	
	}
}


#demo{
	text-align: center;
}

.col-md-3{
  display: inline-block;
  margin-left:-4px;
}

body .carousel-indicators li{
  background-color:black;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:black;
}

body .no-padding{
  padding-left: 0;
  padding-right: 0;
}



@media (max-width: 575.98px) {
	#logo1{
	width: 200px;
	}

	#parrafo1{
	font-size: 20px;
	}

	.titulo2{
		font-size: 26px;
	}
}