/*presupuesto*/
#pag-presupuesto{
	padding-top: 150px;
	background-image: url(../imagenes/presup.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#pag-presupuesto h3{
	margin-bottom: 20px;
	font-size: 26px;
}

#pag-presupuesto li{
	font-size: 18px;
	list-style: none;
	padding: 10px 0;
}

.full-width{
	width: 100%;
}

#pag-presupuesto #casillero{
	font-size: 14px;
	margin-bottom: 0px !important;
}