/*servicios*/
#pag-servicios{
	padding-top: 150px;
}

#pag-servicios h3{
	font-size: 20px;
	margin-top: 8px;
}

#parrafo-serv{
	font-size: 16px;
	line-height: 1.4;
}

@media (max-width: 575.98px) {
	#celu p{
		margin-bottom: 50px;
	}
}